@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.App {
  background-color: rgb(8, 9, 31);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}


table thead th {
  color: aliceblue;
  padding-left: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
